# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dg-db

# Redis
REDIS_URL=redis://localhost:6379

# Better Auth
BETTER_AUTH_SECRET=Zm9vdGJhbGxoZWF2eWNoZWVzZXdvb2Rlbm5lYXJieWVsZWN0cmljaXR5bGFyZ2VwaWM=
# BETTER_AUTH_URL=http://localhost:3000 # Backend URL

# Frontend Integration
FRONTEND_URL=http://localhost:3001
PORT=3000

# Frontend (Vite)
# Se o frontend precisar de uma URL específica para a API em tempo de build:
# VITE_API_URL=http://localhost:3000
